*{
    box-sizing: border-box;
}

html{
    cursor: url("../images/key-cursor.png"), auto;

}

a{
    cursor: url("../images/key-cursor.png"), default;
  }

body{
    background-image:url('../images/background1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:15%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#close{
    position:absolute;
    z-index: 2;
    
    top:9px;
    right:16px;
    height:20px;
    width:20px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 27px;
    text-decoration: none;
    color:rgb(87, 68, 39);
}

.footer{
    position:fixed;
    bottom: 0px;
    width: 100vw;
    height: 80px;
    background-color: rgb(146, 146, 146);
}

canvas{
position: absolute;
top: 40%;
left: 60%;
}

.art-canvas{
    position: absolute;
    width:530px;
    height:568px;
    top:37%;
    left: 59.5%;
    background-color: rgb(233, 180, 97);
    
}


.home{
    position: relative;
    display: inline-block;
    margin-left:25px;
    margin-top:10px;
}

.home:hover .home-content {display: block;}

.homebtn{
    background-image: url('../images/home.png');
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top:5px;
    padding: 25px;
    border: none;
}

.home-content{
display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,2, 2);
  z-index: 1;
  bottom:100%;
}
.home-content a{
color: black;
  padding: 20px 16px;
  text-decoration: none;
  display: block;
}

.home-content a:hover {background-color: #ddd;}

.folder{
    position: fixed;
    margin-left: 3%;
    bottom:19px;
    width:50px;
}

.email{
    position:fixed;
    margin-left:16%;
    bottom:16px;
    width:50px;
}

.browser{
    position:fixed;
    margin-left: 11%;
    bottom: 11px;
    background-size: 20px;
}

.time-container{
    position:absolute;
    display: inline-block;
    margin-left:90%;
    margin-top:20px;
    font-family: 'Courier New', Courier, monospace;
    padding-right:30px;
}

#ct7{
    right:20px;
    width:20px;
    transform: translate(-50%);
    padding-top:5px;
    font-weight: bold;
    color:rgb(217, 217, 217);
    font-size:20px;
}

.image-hover{
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
}

.image-hover:hover{
opacity:1;
}

.PNG{
    position:absolute;
    width:120px;
    
    margin-left: 220px;
    margin-top:220px;
}

.music-file{
    height:110px;
    width:110px;
   
    position:absolute;
    text-align:center;
    padding-bottom: 15px;
    margin-left:240px;
    margin-top:640px;
}

.camera{
    height:140px;
    width:112px;
    
    position:absolute;
    text-align:center;
    padding-bottom:15px;
    margin-left:50px;
    margin-top:440px;
}

.read-me{
    height:140px;
    
    position:absolute;
    
    margin-left:35px;
    margin-top:240px;
}

.folder-desktop{
    height:120px;
    width:120px;

    position: absolute;

    margin-left: 40px;
    margin-top: 40px;

    z-index: 3;
}

.art{
    position:absolute;
    height:120px;
    margin-left:240px;
    margin-top:445px;
}


  